<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Leaderboards</title>
    <script>
      // DISABLE ME FOR PRODUCTION!!
      setTimeout(function () {
        window.location.reload(1);
      }, 30000000); // pretty much disabled


      // thakn you chat gpt!!
      // Function to add thousand separators
      function addThousandSeparators(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }

      // Wait for the document to be fully loaded
      document.addEventListener("DOMContentLoaded", function () {
        // Get all elements in the score column
        var scoreCells = document.querySelectorAll("td.score");

        // Loop through each score cell and add thousand separators
        scoreCells.forEach(function (cell) {
          var scoreValue = parseInt(cell.textContent);
          cell.textContent = addThousandSeparators(scoreValue);
        });
      });
    </script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="mycss.css" />
  </head>
  <body>
    <h1>MoonLander Leaderboard</h1>

    <table>
      <tr>
        <th>#.</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
      {% for item in list %}
      <tr>
        <td>{{ loop.index }}</td>
        {% for entry in item %}
        <td class="score">{{ entry }}</td> <!-- Add class "score" to score cells -->
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <a
      class="fa fa-github"
      style="font-size: 36px"
      href="https:\/\/github.com/Kn4ughty/SEASS1"
    ></a>
  </body>
</html>
