/*@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
*/

/* Hello whoever is reading this. */
@media (prefers-color-scheme: dark) {
:root {
  /*
  color:        var(--ctp-mocha-text);
  background:   rgba(var(--ctp-macchiato-base-rgb) 0.9);
  border-color: hsla(var(--ctp-frappe-red-hsl) 0.75);
  */
  --bg: #181825;
  --accent-bg: #313244;
  --surface2: #585b70;
  --overlay2: #9399b2;
  --overlay0: #6c7086;
  --accent: #b4befe;
}

th {
  background-color: var(--overlay0);
}

tr:nth-child(2) {
  background-color: var(--accent);
  color: var(--code);
  box-shadow: 0 0 2rem var(--accent);
  font-weight: bold;
  animation: RainbowGlow 4s infinite linear;
}
}

@media (prefers-color-scheme: light) {
  :root {
    /*
    color:        var(--ctp-mocha-text);
    background:   rgba(var(--ctp-macchiato-base-rgb) 0.9);
    border-color: hsla(var(--ctp-frappe-red-hsl) 0.75);
    */
    --bg: #dce0e8;
    --accent: #ea76cb;
    --accent-bg: #ccd0da;
    --overlay0: #9ca0b0;
    /*
    --accent-bg: #313244;
    --surface2: #585b70;
    --overlay2: #9399b2;
    --overlay0: #6c7086;
    --accent: #b4befe;

    */
  }
  
  th {
    background-color: var(--overlay0);
  }

  tr:nth-child(2) {
    background-color: var(--accent);
    color: #4c4f69;
    box-shadow: 0 0 2rem var(--accent);
    font-weight: bold;
    animation: RainbowGlow 4s infinite linear;
  }

}



th:first-child,
td:first-child {
    width: 5px;
}

@keyframes RainbowGlow {
  0% {
    box-shadow: 0 0 1.99rem red;
  }
  14.28% {
    box-shadow: 0 0 1.99rem orange;
  }
  28.56% {
    box-shadow: 0 0 1.99rem yellow;
  }
  42.84% {
    box-shadow: 0 0 1.99rem green;
  }
  57.12% {
    box-shadow: 0 0 1.99rem blue;
  }
  71.4% {
    box-shadow: 0 0 1.99rem indigo;
  }
  85.68% {
    box-shadow: 0 0 1.99rem violet;
  }
  100% {
    box-shadow: 0 0 1.99rem red; /* Back to the beginning color */
  }
}

a {
  text-decoration: none;
}