/*@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
*/

/* Hello whoever is reading this. */

:root {
  /*
  color:        var(--ctp-mocha-text);
  background:   rgba(var(--ctp-macchiato-base-rgb) 0.9);
  border-color: hsla(var(--ctp-frappe-red-hsl) 0.75);
  */
  --bg: #181825;
  --accent-bg: #313244;
  --surface2: #585b70;
  --overlay2: #9399b2;
  --overlay0: #6c7086;
  --accent: #b4befe;
}

th {
  background-color: var(--overlay0);
}

tr:nth-child(2) {
  background-color: var(--accent);
  color: var(--code);
  box-shadow: 0 0 2rem var(--accent);
  font-weight: bold;
  animation: rainbowGlow 2s infinite linear;
}

th:first-child,
td:first-child {
    width: 5px;
}


@keyframes rainbowGlow {
  0% {
    text-shadow: 0 0 10px red;
  }
  16.666% {
    text-shadow: 0 0 10px orange;
  }
  33.333% {
    text-shadow: 0 0 10px yellow;
  }
  50% {
    text-shadow: 0 0 10px green;
  }
  66.666% {
    text-shadow: 0 0 10px blue;
  }
  83.333% {
    text-shadow: 0 0 10px indigo;
  }
  100% {
    text-shadow: 0 0 10px violet;
  }
}

